.pokemon-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0px 50px;

  .pokemon {
    max-width: 400px;
    max-height: 450px;
  }

  .back-button {
    margin: 50px 0px;
  }
}
